In [3]:
import pandas as pd

In [6]:
movies=pd.read_csv("movies.csv",index_col = "Title")

In [7]:
movies

                              Rank           Studio       Gross  Year
Title
Avengers: Endgame                1      Buena Vista  $2,796.30   2019
Avatar                           2              Fox  $2,789.70   2009
Titanic                          3        Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4      Buena Vista  $2,068.20   2015
Avengers: Infinity War           5      Buena Vista  $2,048.40   2018
...                            ...              ...         ...   ...
Yogi Bear                      778  Warner Brothers    $201.60   2010
Garfield: The Movie            779              Fox    $200.80   2004
Cats & Dogs                    780  Warner Brothers    $200.70   2001
The Hunt for Red October       781        Paramount    $200.50   1990
Valkyrie                       782              MGM    $200.30   2008

[782 rows x 4 columns]

In [8]:
movies.head()

                              Rank       Studio       Gross  Year
Title
Avengers: Endgame                1  Buena Vista  $2,796.30   2019
Avatar                           2          Fox  $2,789.70   2009
Titanic                          3    Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4  Buena Vista  $2,068.20   2015
Avengers: Infinity War           5  Buena Vista  $2,048.40   2018

In [9]:
movies.tail()

                          Rank           Studio     Gross  Year
Title
Yogi Bear                  778  Warner Brothers  $201.60   2010
Garfield: The Movie        779              Fox  $200.80   2004
Cats & Dogs                780  Warner Brothers  $200.70   2001
The Hunt for Red October   781        Paramount  $200.50   1990
Valkyrie                   782              MGM  $200.30   2008

In [10]:
len(movies)

782

In [11]:
movies.shape

(782, 4)

In [12]:
movies.size

3128

In [13]:
movies.dtypes

Rank       int64
Studio    object
Gross     object
Year       int64
dtype: object

In [15]:
movies.iloc[499]

Rank           500
Studio         Fox
Gross     $288.30
Year          2018
Name: Maze Runner: The Death Cure, dtype: object

In [17]:
movies.loc["Forrest Gump"]

Rank            119
Studio    Paramount
Gross      $677.90
Year           1994
Name: Forrest Gump, dtype: object

In [24]:
movies.sort_values(by= "Year", ascending=False).head()

,Rank,Studio,Gross,Year
Title,,,,
Avengers: Endgame,1,Buena Vista,"$2,796.30",2019
John Wick: Chapter 3 - Parabellum,458,Lionsgate,$304.70,2019
The Wandering Earth,114,China Film Corporation,$699.80,2019
Toy Story 4,198,Buena Vista,$519.80,2019
How to Train Your Dragon: The Hidden World,199,Universal,$519.80,2019

In [26]:
movies.sort_values(by= ["Year", "Studio"]).head()

                    Rank       Studio     Gross  Year
Title
Gone with the Wind   288          MGM  $402.40   1939
Bambi                540          RKO  $267.40   1942
101 Dalmatians       708  Buena Vista  $215.90   1961
The Jungle Book      755  Buena Vista  $205.80   1967
The Godfather        604    Paramount  $245.10   1972

In [27]:
movies.sort_index()

                                Rank           Studio       Gross  Year
Title
10,000 B.C.                      536  Warner Brothers    $269.80   2008
101 Dalmatians                   708      Buena Vista    $215.90   1961
101 Dalmatians                   425      Buena Vista    $320.70   1996
2 Fast 2 Furious                 632        Universal    $236.40   2003
2012                              93             Sony    $769.70   2009
...                              ...              ...         ...   ...
Yogi Bear                        778  Warner Brothers    $201.60   2010
You've Got Mail                  582  Warner Brothers    $250.80   1998
Your Name.                       356              FUN    $358.00   2017
Zootopia                          37      Buena Vista  $1,023.80   2016
xXx: The Return of Xander Cage   385        Paramount    $346.10   2017

[782 rows x 4 columns]

In [28]:
movies["Studio"]

Title
Avengers: Endgame                   Buena Vista
Avatar                                      Fox
Titanic                               Paramount
Star Wars: The Force Awakens        Buena Vista
Avengers: Infinity War              Buena Vista
                                     ...
Yogi Bear                       Warner Brothers
Garfield: The Movie                         Fox
Cats & Dogs                     Warner Brothers
The Hunt for Red October              Paramount
Valkyrie                                    MGM
Name: Studio, Length: 782, dtype: object

In [29]:
movies["Studio"].value_counts()

Warner Brothers           132
Buena Vista               125
Fox                       117
Universal                 109
Sony                       86
Paramount                  76
Dreamworks                 27
Lionsgate                  21
New Line                   16
MGM                        11
TriStar                    11
Miramax                    10
Weinstein                   6
Columbia                    5
WGUSA                       4
Polygram                    2
Orion                       2
SonR                        2
Dimension                   2
Vestron                     1
USA                         1
Lions                       1
Focus                       1
Rela.                       1
CL                          1
Pathe                       1
Artisan                     1
IFC                         1
GrtIndia                    1
RKO                         1
UTV                         1
FUN                         1
FR                          1
Newmarket                   1
China Film Corporation      1
HC                          1
Magn.                       1
Name: Studio, dtype: int64

In [31]:
movies[movies["Studio"]== "Universal"] #Filtering a column by one or more criteria

                                Rank     Studio       Gross  Year
Title
Jurassic World                     6  Universal  $1,671.70   2015
Furious 7                          8  Universal  $1,516.00   2015
Jurassic World: Fallen Kingdom    13  Universal  $1,309.50   2018
The Fate of the Furious           17  Universal  $1,236.00   2017
Minions                           19  Universal  $1,159.40   2015
...                              ...        ...         ...   ...
The Break-Up                     763  Universal    $205.00   2006
Everest                          766  Universal    $203.40   2015
Patch Adams                      772  Universal    $202.30   1998
Kindergarten Cop                 775  Universal    $202.00   1990
Straight Outta Compton           776  Universal    $201.60   2015

[109 rows x 4 columns]

In [40]:
released_by_universal= (movies["Studio"] == "Universal")

In [41]:
movies[released_by_universal].head()

                                Rank     Studio       Gross  Year
Title
Jurassic World                     6  Universal  $1,671.70   2015
Furious 7                          8  Universal  $1,516.00   2015
Jurassic World: Fallen Kingdom    13  Universal  $1,309.50   2018
The Fate of the Furious           17  Universal  $1,236.00   2017
Minions                           19  Universal  $1,159.40   2015

In [43]:
before1975=movies["Year"] < 1975

In [45]:
movies[before1975]

                    Rank           Studio     Gross  Year
Title
The Exorcist         252  Warner Brothers  $441.30   1973
Gone with the Wind   288              MGM  $402.40   1939
Bambi                540              RKO  $267.40   1942
The Godfather        604        Paramount  $245.10   1972
101 Dalmatians       708      Buena Vista  $215.90   1961
The Jungle Book      755      Buena Vista  $205.80   1967

In [47]:
movies["Gross"].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of Title
Avengers: Endgame               $2,796.30
Avatar                          $2,789.70
Titanic                         $2,187.50
Star Wars: The Force Awakens    $2,068.20
Avengers: Infinity War          $2,048.40
                                   ...
Yogi Bear                         $201.60
Garfield: The Movie               $200.80
Cats & Dogs                       $200.70
The Hunt for Red October          $200.50
Valkyrie                          $200.30
Name: Gross, Length: 782, dtype: object>

In [50]:
 studios=movies.groupby("Studio")

In [51]:
studios

In [53]:
studios["Gross"].count()

Studio
Artisan                     1
Buena Vista               125
CL                          1
China Film Corporation      1
Columbia                    5
Dimension                   2
Dreamworks                 27
FR                          1
FUN                         1
Focus                       1
Fox                       117
GrtIndia                    1
HC                          1
IFC                         1
Lions                       1
Lionsgate                  21
MGM                        11
Magn.                       1
Miramax                    10
New Line                   16
Newmarket                   1
Orion                       2
Paramount                  76
Pathe                       1
Polygram                    2
RKO                         1
Rela.                       1
SonR                        2
Sony                       86
TriStar                    11
USA                         1
UTV                         1
Universal                 109
Vestron                     1
WGUSA                       4
Warner Brothers           132
Weinstein                   6
Name: Gross, dtype: int64

In [56]:
studios["Gross"].count().sort_values(ascending=False)

Studio
Warner Brothers           132
Buena Vista               125
Fox                       117
Universal                 109
Sony                       86
Paramount                  76
Dreamworks                 27
Lionsgate                  21
New Line                   16
TriStar                    11
MGM                        11
Miramax                    10
Weinstein                   6
Columbia                    5
WGUSA                       4
Orion                       2
Dimension                   2
Polygram                    2
SonR                        2
IFC                         1
Rela.                       1
CL                          1
Vestron                     1
China Film Corporation      1
UTV                         1
USA                         1
RKO                         1
Lions                       1
Pathe                       1
FR                          1
Newmarket                   1
FUN                         1
Focus                       1
Magn.                       1
GrtIndia                    1
HC                          1
Artisan                     1
Name: Gross, dtype: int64

In [60]:
studios['Gross'].sum().head()

Studio
Artisan                                                            $248.60
Buena Vista               $2,796.30 $2,068.20 $2,048.40 $1,518.80 $1,405...
CL                                                                 $228.10
China Film Corporation                                             $699.80
Columbia                           $306.90 $295.20 $243.20 $215.90 $215.40
Name: Gross, dtype: object